@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Rubik:wght@400;500&display=swap");
@import url("./reset.css");

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body {
  font-family: Rubik, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  color: #4c4c4c;
}

[class*="__container"] {
  max-width: 1005px;
  margin: 0 auto;
  padding: 0 15px;
}

/* -------------------------------------
------------------------------------- */
.header {
  position: absolute;
  width: 100%;
  background-color: #fde8db;
}
.header__container {
  display: flex;
  min-height: 114px;
  align-items: center;
}

.header__logo {
  /* align-self: flex-start; */
  flex-basis: 25%;
  flex-shrink: 1;
  flex-grow: 1;
  margin: 0 15px;
}
.header-logo__text {
  z-index: 5;
  font-size: 24px;
  font-weight: 500;
  color: #4c4c4c;
  position: relative;
}
.header__logo::before {
  z-index: 1;
  content: "";
  bottom: 2.7em;
  height: 0.35em;
  width: 6.6em;
  border-radius: 1px;
  background-color: #ff9a76;
  position: absolute;
}
/* ------------------------------------- */
.menu {
  display: flex;
  justify-content: flex-end;
  flex-basis: 50%;
  flex-shrink: 2;
  flex-grow: 4;
}
.menu__list {
  display: flex;
}
.menu__link {
  color: #4c4c4c;
  font-size: 14px;
}
.menu__item {
  margin: 0 28px 0 0;
}
.menu__link:hover {
  border-bottom: 3px solid #ff9a76;
}
/* ------------------------------------- */
.header__button {
  display: flex;
  justify-content: flex-end;
  flex-basis: 17%;
  flex-shrink: 1;
  flex-grow: 2;
  margin: 0 15px;
}
.button {
  color: #fff;
  font-size: 14px;
  background-color: #f7906c;
  padding: 8px 17px 7px;
  border-radius: 32px;
  transition: background-color 0.3s ease 0s;
}
.button:hover {
  background-color: #ff9a76;
}
.button__white {
  background-color: #fff3eb;
  color: #f7906c;
  padding: 8px 17px 7px;
  border-radius: 32px;
  font-size: 14px;
}
.button__white:hover {
  outline: 3px solid #fde8db;
  outline-offset: -3px;
}
/* -------------------------------------
------------------------------------- */
.main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
}
.example-menu {
  background-color: #fde8db;
  display: flex;
}
.example-menu__container {
  display: flex;
  flex-wrap: wrap;
  padding: 180px 15px 50px 15px;
}
.example-menu__content {
  display: flex;
  position: relative;
  height: 100%;
}
/* ------------------------------------- */
.example-menu__text {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 2;
  font-weight: 500;
}
.example-menu__title {
  font-size: 46px;
  line-height: 1.1;
  font-weight: 500;
  color: #4c4c4c;
  margin-bottom: 42px;
}
.block-text__title-orange span {
  color: #f7906c;
}
/* ------------------------------------- */
.example-menu__images {
  width: 100%;
  display: flex;
  flex: 0 0 50%;
  justify-content: flex-end;
  transform: translateX(38px);
}
.example-menu__img-one {
  transform: rotate(-4deg) translateY(-20px);
  z-index: 2;
  height: 485px;
  box-shadow: 0 0 transparent, 0 0 transparent,
    0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.example-menu__img-two {
  transform: rotate(8deg) translateX(-35px) scale(0.9);
  height: 490px;
  box-shadow: 0 0 transparent, 0 0 transparent,
    0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.example-menu__img {
  overflow: hidden;
  border-radius: 18px;
  flex-grow: 0;
  flex-basis: 222px;
}
/* -------------------------------------
------------------------------------- */
.qr-menu__container {
  padding: 0 0 80px 0;
}
.qr-menu__content {
  display: flex;
  justify-content: space-around;
}
/* ------------------------------------- */
.qr-menu__text {
  flex: 0 0 50%;
  flex-shrink: 2;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 480px;
}
.qr-menu__list {
  line-height: 1.45;
  padding-top: 52px;
}
.qr-menu__item:not(:last-child) {
  margin-bottom: 32px;
}
/* ------------------------------------- */
.qr-menu__image {
  flex: 50%;
  max-width: 320px;
  border-radius: 38px;
  flex-shrink: 1;
  flex-grow: 1;
  border-radius: 38px;
  overflow: hidden;
  border: 10px solid #242424;
  position: relative;
  z-index: 50;
}
.qr-menu__image::before {
  content: "";
  width: 90px;
  height: 25px;
  border-radius: 20px;
  position: absolute;
  top: 0.5rem;
  left: 6.65rem;
  background-color: #1a1a1a;
  z-index: 5;
}
/* ------------------------------------- */
.block-text__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  margin: 0;
  font-weight: 500;
}
.qr-menu__title {
  padding: 100px 16px 80px;
}
/* -------------------------------------
------------------------------------- */
.advantages-menu {
  background-color: #fde8db;
}
.advantages-menu__title {
  padding: 82px 0 52px 0;
}
/* ------------------------------------- */
.advantages-menu__icon {
  width: 210px;
  flex: 0 0 35%;
}
.advantages-menu__block-text {
  flex: 0 0 60%;
}
.advantages-menu__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.advantages-menu__item {
  max-width: 80%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 30px 30px 30px 35px;
  border-radius: 8px;
}
.advantages-menu__item:not(:last-child) {
  margin-bottom: 42px;
}
/* ------------------------------------- */
.advantages-menu-list__title {
  margin: 0 0 14px;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.advantages-menu__text {
  font-size: 16px;
  margin: 0;
  color: #716b68;
}
.advantages-menu__text:not(:last-child) {
  margin-bottom: 16px;
}
.advantages-menu__block-text {
  max-width: 340px;
}
